body {
    background-color: #e0e0e0;
}

.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333333;
    box-shadow: 5px 5px 20px;
    border: 4px solid gray;
    border-radius: 5px;
}